/*==============Fontes==============*/

@font-face {
    font-family: 'Font';
    src: url(../fonts/typo_round/Typo_Round_Regular_Demo.otf);
}

/*==============Variáveis==============*/

:root {
    --font1: 'Font';

    --color00: #9b0000;
    --color01: #0f0f0f;
    --color02: #e2e2e2;
    --color03: #808080;
}

/*==============Regras Gerais==============*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Font';
}

/*==============Unificações==============*/

nav.menu-lateral,
ul,
ul li.item-menu a {
    display: flex;
}

.btn-expandir,
ul li.item-menu a {
    align-items: center;
}

/*==============Configs do Body==============*/

body {
    height: 100vh;
    background-color: var(--color03);
}

/*==============Configs Gerais do Menu Lateral==============*/

nav.menu-lateral {
    gap: 0.5rem;
    width: 4.375rem;
    height: 100%;
    background-color: var(--color01);
    box-shadow: 0.188rem 0 0 var(--color00);
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.5s;
    flex-direction: column;
}

nav.menu-lateral.expandir {
    width: 15.625rem;
}

/*==============Configs do Botão Abrir do Menu Lateral*/

.btn-expandir {
    width: 100%;
    padding-top: 0.5rem;
    padding-left: 1.313rem;
}

.btn-expandir i {
    color: var(--color02);
    font-size: 1.5rem;
    cursor: pointer;
}

.btn-expandir img {
    width: 7.5rem;
}

/*==============Configs dos Itens do Menu Lateral==============*/

ul {
    height: 78%;
    list-style-type: none;
    gap: 0.313rem;
    flex-direction: column;
}

ul li.item-menu {
    transition: 0.5s;
}

ul li.ativo {
    background-color: var(--color00);
}

ul li.item-menu:hover {
    background-color: var(--color00);
    transition: 1s;
}

ul li.item-menu a {
    color: var(--color02);
    text-decoration: none;
    font-size: 1.3rem;
    padding: 1rem 0 1rem 1.313rem;
    gap: 3.125rem;
}

#copyright{
    color: var(--color02);
    background-color: var(--color00);
    padding: 0.313rem 0;
    overflow: hidden;
    text-align: center;
}

/*==============Configs da Transição dos Itens do Menu Lateral==============*/

ul li.item-menu a .txt-link {
    margin-left: 3.125rem;
    transition: .5s;
    opacity: 0;
}

nav.menu-lateral.expandir .txt-link {
    margin-left: 0rem;
    opacity: 1;
}

/*==============Configs dos Ícones do Menu Lateral==============*/

ul li.item-menu a .icon i {
    font-size: 1.5rem;
}